body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
}

.header {
  background-color: #26d0c9;
  color: #fff;
  height: 90px;
  width: 100%;
}

.header-logo {
  position: absolute;
  left: 40%;
  font-size: 36px;
  padding: 20px 40px;
}



.main {
  margin-left: auto;
  margin-right: auto;
  padding: 90px;
}

.contents1 {
  position: relative;
}

.copy-container h1 {
  position: absolute;
  margin-top: 5%;
  margin-left: 5%;
  font-family: "arial black", sans-serif;
  font-size: 140px;
}


.copy-container span {
  color: #ff4a4a;
}

.photos {
  height: 300px;
  margin-top: 5%;
  margin-left: 8%;
}




.section-title {
  border-bottom: 2px solid #dee7ec;
  font-size: 28px;
  padding-bottom: 10px;
  margin-top: 90px;
}



.photo-item {
  float: left;
  margin-right: 20px;
}


.photo-item img {
  opacity: 0.5;
}



.profile-photo {
  float: right;
  padding-right: 150px;
  padding-top: 100px;
}

.profile  {
  font-size: 24px;
  line-height: 2.0;

}

.profile span{
  font-weight: bold;
  color: #ff7733;
}

.profile ul{
  background: #fffde8;
  box-shadow: 0px 0px 0px 10px #fffde8;
  border: dashed 2px #ffb03f;
  border-radius: 9px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0.5em 0.5em 0.5em 2em;
}

.comments {
  font-size: 24px;
  line-height: 2.0;
}

.footer {
  background-color: #2f5167;
  color: #fff;
  height: 30px;
  margin-top: 100px;
}

.footer-logo {
  font-size: 25px;
  position: absolute;
  left: 40%;
}
